:root {
  --charcoal: #36454F;
  --white: #FCFDFD;
  --darkblue: #02111B;
  --yellow: #E1D76A;
  --lightblue: #547AA5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: var(--darkblue);
  background-color: var(--charcoal);
  text-align: center;
  line-height: 1.5;
}

/* @media only screen and (max-width: 600px) {
  .col-1 {
    flex-basis: 100%;
  }
} */

.nav-container {
  background-color: #36454F;
}

.App {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
}

.img-cover {
  max-width: 200px;
  max-height: 200px;
}

.notes-collapseable {
  width: 100%;
  height: 200px;
  background-color: var(--yellow);
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.note-title {
  display: inline-block;
  margin: 0px;
  margin-right: 5px;
  font-size: 14px;
}

.note {
  font-family: 'Coming Soon', cursive;
}

nav,
footer {
  padding: 1% 0;
  background-color: var(--darkblue); 
}

nav > a {
  color: var(--white);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



header {
  padding: 12% 0;
}

section {
  min-height: 100px;
  padding: 6% 0;
  background-color: var(--white);
}

section {
  border-top: 1px solid #ccc;
  border-top-width: 50%;
}

section:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.main-nav-elements {
  position: absolute;
  right: 5%;
  /* transform: translateX(-50%); */
}

.notes-nav-elements {
  position: absolute;
  left: 5%;
}

textarea {
  margin: 0px;
  max-width: 80%;
  min-height: 200px;
}

.flex-conatiner {
  display: flex;
  justify-content: space-around;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 50%;
  /* flex-basis: 1; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.nav-links > a {
  color: var(--white);
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 0;
}

.nav-col {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33%;
  flex-basis: 1; */
  margin-left: 10px;
  padding-left: 10px;
  line-height: 0;
  font-size: 20px;
}

.nav-a {
  font-size: 15px;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
  line-height: 0;
}

.landing-col {
  display: flex;
  flex-direction: center;
  justify-content: center;
  flex-basis: 45%; 
  /* flex-basis: 1; */
}

.landing-p {
  vertical-align: middle;
}

.landing-title {
  color: var(--darkblue)
}

.landing-header {
  z-index: 2;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.landing-header::after {
  border-bottom: 1px solid var(--darkblue);
  content: '';
  display: block;
  /* margin-left: 20%; */
  width: 80%;
}

.landing-img {
  box-shadow: 5px 5px 10px var(--darkblue);
}

.title-link {
  color: var(--charcoal);
}

.footer > a {
  color: var(--white);
}

.dashboard-pubs {
  color: var(--lightblue);
}

/* .pub-sum-subsection {

} */